body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 100vh;
}

.sidebar {
  background: #fff;
}

.navbar {
  padding: 1.75rem;
  background: #fff;
}

.sidebar-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.75rem 1rem;
  align-items: baseline;
  color: #999 !important;
  font-size: 1rem;
}
.sidebar-grid a {
  color: #999;
  text-decoration: none;
}

.active-route {
  color: #3e88ff !important;
  font-weight: 700;
}

.active-color {
  color: #3e88ff !important;
}

.campaign-modal .card {
  border: none !important;
}

.tiny-text {
  font-size: 14px;
}

.shadow-temp button {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px !important;
}

.import-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #bbb;
  color: #333;
  padding: 1.25rem 4rem;
  text-align: center;
}

.campaign-modal {
  padding: 0;
}

.input-btn-label {
  border: 1.55px solid #ff006e;
  color: #ff006e;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 2rem auto 5rem auto;
}
.import-cont-btn {
  background: #ff006e;
  border: none;
  color: #fff;
  padding: 0.35rem 1rem;
  border-radius: 5px;
}

.flag-dd button {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.form-mobile-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flag-select__option--placeholder {
  height: auto !important;
}

.list-items {
  background: #ccc;
  height: 74vh;
}
/* steppers */

.stepper {
  display: flex;
  padding: 0;
  width: 100%;
  list-style: none;
  position: relative;
}
.stepper::before {
  position: absolute;
  height: 100%;
  content: "";
  background: #e7e7e7;
}
.stepper-item {
  flex: 100%;
  padding: 20px 20px 20px 40px;
  background: #fff;
  margin: 0 0 0 -20px;
  clip-path: polygon(
    20px 50%,
    0% 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    0% 100%
  );
  text-align: center;
  border: 1px solid #dee2e6 !important;
  font-weight: 500;
  cursor: pointer;
}
.stepper-item.complete {
  background: #ff006e;
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
}
.stepper-item:first-child {
  margin-left: 0px;
  padding: 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
  border-left: none !important;
}
.stepper-item:last-child {
  margin-left: 0;
  clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-left: -19px;
}

.stepper-ender {
  clip-path: polygon(0px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
}

.active-circle {
  padding: 0.075rem 0.5rem;
  background: #ffffff94;
  color: white;
  border-radius: 50%;
  font-weight: 700;
}
.active-tick {
  padding: 0.075rem 0.3rem;
  background: #ffffff94;
  color: white;
  border-radius: 50%;
  font-weight: 700;
}
.unactive-circle {
  padding: 0rem 0.5rem;
  background: #ccc;
  color: #333;
  border-radius: 50%;
  font-weight: 700;
}
